body{
    color: white;
    background-image: url(hatter.png);
}

a:link,a:hover,a:visited,a:active{
    color: #c0c0c0;   
}

#foTabla{
    border: none;
    border-spacing: 0px;
    width: 1000px;
    text-align: center;
}

td{
    margin: 5px;
}

.balJobb{
    width: 120px;
}

.kozepre{
    margin: 0 auto;
}

#belsoTabla{
    border: none;
    margin: 0 auto;
    border-spacing: 5px;
}

.linkek{
    font-style: italic;
    text-align: right;
}

hr{
    width: 80%;
}

.felKover{
    font-weight: bold;
}

q{
    font-weight: bold;
    font-style: italic;
}
